body , .container{
    background-color: #24353f;
}
.indexhome ,.signhome{
    width:50%
}

section .container{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    height: 85vh;
}
input::placeholder{
    color:  rgb(182, 182, 182) !important;
}
.btn:hover{
    color: #fff;
}
a:hover{
    text-decoration: underline !important;
}
.navbar
{
    background-color: #24353f !important;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.demo{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    width: 75%;
    padding: 3rem;
}
#signIn{
    width: 25%;
   }

@media screen and (max-width:592px) {
    .indexhome ,.signhome{
        width:90% ;
    }
   p{
    font-size: .8rem;
   }
   #signIn{
    width: 100%;
   }
   .demo{
    width: 85%;
    padding: 1.5rem;
   }
}
